{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}
{% load get_thumbnail from product_images %}

{% block title %}{% trans "Your cart" context "Cart page title" %} — {{ block.super }}{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumbs list-unstyled">
  <li><a href="/">{% trans "Home" context "Main navigation item" %}</a></li>
  <li><a rel="nofollow" href="{% url 'cart:index' %}">{% trans "Cart" context "Cart breadcrumb" %}</a></li>
</ul>
{% endblock breadcrumb %}

{% block meta_tags %}
  <meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
<div class="alert alert-success remove-product-alert d-none">
  {% trans "Product has been removed from cart" context "Cart message" %}
  <button type="button" class="close close-msg" aria-hidden="true">&times;</button>
</div>

<div class="alert alert-info">
  <br>
  <h2>Please provide the following information</h2>
  <hr>

  <div class="row">
    <div class="col-xs-12 col-sm-11 col-md-8 col-lg-6 col-xl-5">
      <form method="post" class="form-cart"
             id="userfield-update" 
             action="{% url 'cart:userfield-update' %}" novalidate>
      {% csrf_token %}

      {% for slug, field in uf_form.fields.items %}
        <div class="form-group userfield">
          <label class="control-label"><h3>{{ field.label }}</h3><p>{{ field.description }}</p></label>
          <input class="form-control" name="{{ slug }}" type="text" maxlength={{ field.max_length }} value="{{ field.value }}">
        </div>
      {% endfor %}
      </form>
    </div>
  </div>
</div>


<div class="cart">
  {% if cart_lines %}
  <div class="table__header d-none d-md-block">
    <div class="row">
      <div class="col-lg-9 col-md-6">
        <small>{% trans "Product" context "Cart table header" %}</small>
      </div>
      <div class="col-lg-1 col-md-3">
        <small>Price</small>
      </div>
      <div class="col-lg-2 col-md-3">
        <small>{% trans "Quantity" context "Cart table header" %}</small>
      </div>
    </div>
  </div>

  {% for line in cart_lines %}
  <div class="cart__line{% if forloop.last %} last{% endif %} table__row">
    <div class="row">
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 cart__line__product">
        <a class="link--clean">
          <img src="{% get_thumbnail line.variant.images.first.image method="crop" size="60x60" %}"
               srcset="{% get_thumbnail line.variant.images.first.image method="crop" size="60x60" %} 1x, {% get_thumbnail line.variant.images.first.image method="crop" size="120x120" %} 2x"
               alt="">
        </a>
      </div>
      <div class="col-lg-8 col-md-7 col-sm-6 col-xs-6">
        {{ line.variant.product }}<br><small>{{ line.variant }}</small>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 cart__line__quantity">
        ${{ line.variant.product.price }}
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-2 cart__line__quantity">
        <form role="form" action="{% url "cart:update-line" variant_id=line.variant.pk %}" method="post" class="form-cart">
          {% csrf_token %}
          <div tabindex="-1">{{ line.form.quantity }}</div>
        </form>
        <small class="cart__line__quantity-error text-danger"></small>
      </div>
      <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
        <span class="cart-item-delete">
          <svg data-src="{% static "images/delete.svg" %}" height="20px" width="20px" />
        </span>
      </div>
    </div>
  </div>
  {% endfor %}
  <div class="cart__total">
    <div class="row">
      <div class="col-lg-9 col-md-9 col-sm-8 cart__total__subtotal"><h3>Totals</h3></div>
      <div class="col-lg-1 col-md-3 col-sm-4"><h3 class="text-left cart-total"><span>${{ total }}</span></h3></div>
      <div class="col-lg-2 col-md-3 col-sm-4"><h3 class="text-left cart-total"><span>{{ quantity }}</span></h3></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-0 text-center"></div>
    <div class="col-md-4 col-sm-6 text-center">
      <a href="/" class="btn secondary narrow">Continue Shopping</a>
    </div>
    <div class="col-md-4 col-sm-6 text-center">
      <a href="{% url "cart:cart-checkout" %}" class="btn primary narrow cart__submit">Place Order</a></br></br>
    </div>
    <div class="col-md-2 col-sm-0 text-center"></div>
  </div>
  {% else %}
  <div class="cart__empty">
    <img src="{% static 'images/pirate_cart.png' %}"
         srcset="{% static 'images/pirate_cart.png' %} 1x, {% static 'images/pirate_cart2x.png' %} 2x">
    <h2>{% trans "There are no products in your shopping cart." context "Empty cart message" %}</h2>
  </div>
  <div class="row">
    <div class="col-12 text-center"><br/>
      <a href="/" class="btn secondary narrow">Continue Shopping</a>
    </div>
  </div>
{% endif %}
</div>
<br/><br/>
{% endblock content %}
