{% extends "dashboard/base.html" %}
{% load i18n %}
{% load mptt_tags %}
{% load materializecss %}
{% load get_sort_by_toggle from shop %}
{% load staticfiles %}
{% load utils %}

{% block title %}Companies -
  {{ block.super }}{% endblock %}

{% block body_class %}body-categories{% endblock %}

{% block menu_categories_class %}active{% endblock %}

{% block header_menu %}
  {% if root %}
    {% if root.parent %}
      {% url 'dashboard:category-detail' pk=root.parent.pk as url %}
    {% else %}
      {% url 'dashboard:category-list' as url %}
    {% endif %}
    {% include "dashboard/includes/_back-link.html" with url=url %}
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    {% if path %}
      <li>
        <a href="{% url 'dashboard:category-list' %}">Companies
        </a>
      </li>
    {% else %}
      <li class="visible-s">
        <span>
          {% trans "Categories" context "Dashboard categories list" %}
        </span>
      </li>
    {% endif %}
    {% if path %}
      <li class="back-mobile">
        <a href="{% url 'dashboard:category-list' %}">
          <svg data-src="{% static 'dashboard/images/arrow_left.svg' %}" fill="#fff"
               width="20px" height="20px"/>
        </a>
      </li>
      {% for node in path %}
        {% if forloop.last %}
          <li title="{{ node.name }}">
            <span class="breadcrumbs--ellipsed-item">
              {{ node.name }}
            </span>
          </li>
        {% else %}
          <li class="hide-on-med-and-down">
            <a title="{{ node.name }}"
               href="{% url 'dashboard:category-detail' pk=node.pk %}"
               class="breadcrumbs--ellipsed-item">
              {{ node.name }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
{% endblock %}

{% block menu_catalogue_class %} active{% endblock %}

{% block content %}
  {% if root %}
    <div class="row">
      <div class="col m12 l9">
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ root.name }}
            </span>
            <div class="row">
              {% if root.description %}
                <div class="col s12 l8">
                  <h4>Message to users</h4>
                  <p>
                    {{ root.description }}
                  </p>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="card-action">
            <a class="btn-flat waves-effect" href="{% url 'dashboard:category-edit' root_pk=root.pk %}">Edit Company
            </a>
            <a class="btn-flat waves-effect modal-trigger-custom"
             data-href="{% url 'dashboard:category-delete' pk=root.pk %}"
             href="#base-modal">Remove Company
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col m12 l9">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Company-specific data collection</span>
        </div>
        <div class="data-table-header-action">
          <a href="{% url 'dashboard:category-userfield-add' company_pk=root.pk%}" class="btn-flat waves-effect">
          {% trans "Add" %}
          </a>
        </div>
        <div class="data-table-container">
          <table class="bordered highlight responsive data-table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for value in userfields %}
                <tr>
                  <td>
                    {{ value.name }}
                  </td>
                  <td>
                    {{ value.description|truncatechars:32 }}
                  </td>
                  <td class="right-align">
                    <a href="{% url 'dashboard:category-userfield-edit' company_pk=root.pk userfield_pk=value.pk %}" class="btn-flat waves-effect">Edit</a>
                    <a class="btn-flat waves-effect modal-trigger-custom" href="#base-modal" data-href="{% url 'dashboard:category-userfield-delete' company_pk=root.pk userfield_pk=value.pk %}">Remove</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
