{% extends "dashboard/base_modal.html" %}

{% load i18n %}

{% block form_class %}{% endblock %}

{% block action_url %}
{% url 'dashboard:staff-delete' pk=staff.pk %}
{% endblock %}

{% block title %}
{% blocktrans trimmed context "Modal remove group text" %}
  Remove user account <strong>{{ staff }}</strong>
{% endblocktrans %}
{% endblock %}

{% block content %}
{% blocktrans trimmed context "Modal remove group text" %}
<p>Are you sure you want to remove this user account?</p>
<p>{{ staff }} has <strong>{{ orders }}</strong> orders.</p>
{% endblocktrans %}
{% endblock content %}

{% block primary_action %}
{% trans "Remove" context "Dashboard delete action" %}
{% endblock %}
