{% load bootstrap_form from bootstrap3 %}
{% load i18n %}
{% load staticfiles %}

<form method="post" action="{% url 'account_login' %}" novalidate>
  {% csrf_token %}
  <fieldset>
    {% bootstrap_form form %}
    {% if REDIRECT_FIELD_VALUE %}
      <input type="hidden" name="{{ REDIRECT_FIELD_NAME }}"
             value="{{ REDIRECT_FIELD_VALUE }}"/>
    {% endif %}
  </fieldset>
  <div class="row login__btn-group">
    <div class="col-sm-12">
      <button class="btn primary narrow">
        {% trans "Log in" context "Login form primary action" %}
      </button>
    </div>
  </div>
</form>
