{% extends "dashboard/base.html" %}
{% load babel %}
{% load i18n %}
{% load materializecss %}
{% load status %}
{% load staticfiles %}

{% block title %}
  {{ order }} - {% trans "Orders" context "Dashboard orders list" %} - {{ block.super }}
{% endblock %}

{% block body_class %}body-orders{% endblock %}

{% block menu_orders_class %}active{% endblock %}

{% block header_menu %}
  {% url "dashboard:orders" as url %}
  {% include "dashboard/includes/_back-link.html" with url=url %}
{% endblock %}

{% block header_extra %}
  <a class="dropdown-button right" href="#" data-activates="context-menu" data-constrainwidth="false">
    <svg data-src="{% static "dashboard/images/more_vert.svg" %}" height="24" width="24" />
  </a>
  <ul id="context-menu" class="dropdown-content">
    {% if order.can_cancel %}
      <li>
        <a href="#base-modal" data-href="{% url "dashboard:order-cancel" order_pk=order.pk %}" class="modal-trigger-custom">
        CANCEL ORDER
        </a>
      </li>
    {% endif %}
    <li>
      <a class="btn-print" href="#">
      PRINT ORDER
      </a>
    </li>
    <li>
      <a href="{% url "dashboard:order-shipped" order_pk=order.pk %}">
      MARK AS SHIPPED
      </a>
    </li>
  </ul>
{% endblock %}

{% block breadcrumbs %}
  <ul class="breadcrumbs breadcrumbs--history">
    <li>
      <a href="{% url "dashboard:orders" %}">
        {% trans "Orders" context "Dashboard orders list" %}
      </a>
    </li>
    <li class="back-mobile">
      <a href="{% url "dashboard:orders" %}">
        <svg data-src="{% static "dashboard/images/arrow_left.svg" %}" fill="#fff" width="20px" height="20px" />
      </a>
    </li>
    <li>
      <span>
        {{ order }}
      </span>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs" role="tablist">
        <li role="presentation" class="tab col s4">
          <a href="#order-details" role="tab" class="active">
            <span>
              {% trans "Details" context "Order detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/description.svg" %}" class="fill-secondary"/>
          </a>
        </li>
        <li role="presentation" class="tab col s4">
          <a href="#order-history" role="tab">
            <span>
              {% trans "History" context "Order detail tab" %}
            </span>
            <svg data-src="{% static "dashboard/images/history.svg" %}" class="fill-secondary" />
          </a>
        </li>
      </ul>
    </div>
  </div>



  <div class="row tab-content" id="order-details">
    <div class="col s12 l4 switch-two-columns">
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            {% trans "Order summary" context "Order summary title" %}
          </span>
          <div class="row">
            <div class="col s12 m4 l12">
              <h5>User Account:</h5>
              <p>
                {{ order.user }}
              </p>
            </div>
            <div class="col s12 m4 l12">&nbsp;</div>
            <div class="col s12 m4 l12">
              <h5>Company:</h5>
              <p>
                {{ order.user.company }}
              </p>
            </div>
            <div class="col s12 m4 l12">&nbsp;</div>
            <div class="col s12 m4 l12">
              <h5>Employee ID:</h5>
              <p>
                {{ order.employeeid }}
              </p>
            </div>
            <div class="col s12 m4 l12">&nbsp;</div>
            <div class="col s12 m4 l12">
              <h5>Order Status:</h5>
              <p>
                {{ order.get_status_display }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col s12 l8 switch-two-columns">
      <div class="card shipment-table">
        <div class="card-content">
          <span class="card-title">
          Shopping Cart
          </span>
          <div class="data-table-container">
            <table class="bordered highlight responsive data-table">
              <thead>
                <tr>
                  <th class="wide">
                    {% trans "Item" context "Shipment group table header" %}
                  </th>
                  <th>
                    {% trans "SKU" context "Shipment group table header" %}
                  </th>
                  <th class="right-align">
                    {% trans "Quantity" context "Shipment group table header" %}
                  </th>
                </tr>
              </thead>
              <tbody>
                {% for line in lines %}
                  <tr class="last-no-border">
                    <td>
                      {{ line.product_name }}<br>
                    </td>
                    <td>
                      {{ line.product_sku }}
                    </td>
                    <td class="right-align">
                      <a class="dropdown-button" href="#" data-activates="line-actions-{{ line.pk }}" data-constrainwidth="false">
                        {{ line.quantity }} {% if line.stock_location %} ({{ line.stock_location|truncatechars:10 }}) {% endif %}
                        <svg data-src="{% static "dashboard/images/arrow_drop_down.svg" %}" width="24" height="24" />
                      </a>
                      <ul id="line-actions-{{ line.pk }}" class="dropdown-content">
                        <li>
                          <a href="#base-modal" data-href="{% url 'dashboard:orderline-change-quantity' order_pk=order.pk line_pk=line.pk %}" class="modal-trigger-custom" title="{% trans "Change quantity" context "Shipment group table row action" %}">
                            {% trans "Change quantity" context "Shipment group table row action" %}
                          </a>
                        </li>
                        <li>
                          <a href="#base-modal" data-href="{% url 'dashboard:orderline-cancel' order_pk=order.pk line_pk=line.pk %}" class="modal-trigger-custom" title="{% trans "Remove line" context "Shipment group table row action" %}">
                            {% trans "Remove line" context "Shipment group table row action" %}
                          </a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="card{% if not notes %} print-hide{% endif %}" id="order-notes">
        <div class="card-content">
          <span class="card-title black-text">
            {% trans "Order notes" context "Order notes card title" %}
          </span>
          {% if notes %}
            <ul class="list">
              {% for note in notes %}
              <li class="list-item list-item--spaced">
                <small class="list-item-author">{{ note.user }} - {{ note.date }}</small>
                <p>{{ note.content }}</p>
              </li>
              {% endfor %}
            </ul>
          {% else %}
            <p>
              {% trans "There are no notes associated with this order." context "Empty order notes card message" %}
            </p>
          {% endif %}
        </div>
        {% if perms.order.edit_order %}
          <div class="card-action">
            <a data-href="{% url "dashboard:order-add-note" order_pk=order.pk %}" class="modal-trigger-custom btn-flat waves-effect" href="#base-modal">
              {% trans "Add note" context "Order notes card action" %}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>



  <div class="tab-content" id="order-history">
    <p class="print-show print-tabs">{% trans "History" context "Order detail tab" %}</p>
  <div class="timeline-outer">
    <ul class="timeline">
      {% for event in order.history.all %}
        <li class="event" data-date="{{ event.date }}">
          <div class="content">
            {{ event.comment|default:"" }}{% if event.user %} by {{ event.user }}{% endif %}
            <div class="status">
              {% render_status event.status event.get_status_display %}
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
