{% extends "base.html" %}

{% load bootstrap_field from bootstrap3 %}
{% load markdown from markdown %}
{% load i18n %}
{% load staticfiles %}
{% load get_thumbnail from product_images %}

{% block title %}{{ product }} — {{ block.super }}{% endblock %}

{% block meta_description %}{{ product.description }}{% endblock %}

{% block breadcrumb %}
  <ul class="breadcrumbs list-unstyled">
    <li><a href="/">
        {% trans "Home" context "Main navigation item" %}
    </a></li>
    <li><a href="{{ product.get_absolute_url }}">{{ product }}</a></li>
  </ul>
{% endblock breadcrumb %}

{% block content %}

<div class="container" id="{{ slug }}">
  <div id="product-schema-component">
    <script type="application/ld+json">{{ json_ld_product_data|safe }}</script>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <h2 class="product__info__name">{{ product }}</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      {% with images=product_images %}
        {% if images %}
          <div id="carousel-example-generic" class="carousel slide">
    
            <div class="carousel-inner" role="listbox">
              {% for image in images %}
              <div class="carousel-item{% if image.active %} active{% endif %}">
                <img class="d-block img-fluid"
                     src="{% get_thumbnail image.image method="crop" size="270x270" %}"
                     srcset="{% get_thumbnail image.image method="crop" size="270x270" %} 1x, {% get_thumbnail image.image method="crop" size="1080x1080" %} 2x" alt="">
              </div>
              {% endfor %}
            </div>
    
            {% if images|length > 1 %}
              <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                <svg data-src="{% static "images/gallery_arrow.svg" %}" />
              </a>
              <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                <svg data-src="{% static "images/gallery_arrow.svg" %}" />
              </a>
            {% endif %}
          </div>
        {% else %}
          <img src="{% static 'images/placeholder270x270.png' %}"
               srcset="{% static 'images/placeholder270x270.png' %} 1x, {% static 'images/placeholder1080x1080.png' %} 2x"
               alt=""
               class="img-fluid">
        {% endif %}
      {% endwith %}
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      {% block orderform %}
        {% if show_variant_picker %}
          {% csrf_token %}
          <div id="variant-picker" data-variant-picker-data="{{ variant_picker_data }}" data-action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}"></div>
        {% else %}
          <form id="product-form" role="form" class="product-form clearfix" method="post"
                action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}" novalidate>
            {% csrf_token %}
            {% bootstrap_field form.variant %}
            <div class="product__info__quantity">{% bootstrap_field form.quantity %}</div>
            <div class="form-group product__info__button">
              <button class="btn primary">{% trans "Add to cart" context "Product details primary action" %}</button>
            </div>
          </form>
        {% endif %}
      {% endblock %}
    </div>
  </div>
</div>

{% endblock content %}
