{% extends "dashboard/base.html" %}
{% load i18n %}

{% block title %}
  {{ block.super }}
{% endblock %}

{% block content %}
<h2>OrderWrite Company, User, and Product Creation</h2>
<p>If products are being created for existing company, skip to the &ldquo;<strong>Product Creation</strong>&rdquo; step. If not, follow this guide from the top!</p>
<p><strong>Company Creation:</strong></p>
<p><strong>Step 1:</strong> After logging with a &ldquo;Staff&rdquo; account, select the &ldquo;Dashboard&rdquo; menu in the top right of the page.</p>
<p><strong>Step 2: </strong>Select the &ldquo;Companies&rdquo; tab on the left hand menu</p>
<p><strong>Step 3: </strong>Select the blue circle with the &ldquo;+&rdquo;</p>
<p><strong>Step 4: </strong>Enter the Company name in the &ldquo;Name&rdquo; field, and if needed the &ldquo;Message to users (optional)&rdquo; field. Any text in the &ldquo;Message to users (optional)&rdquo; field will be displayed above the catalog when customers log into their OrderWrite.</p>
<p><strong>Step 5: </strong>Select &ldquo;create&rdquo; to enter the company into the database</p>
<p><strong>User Creation:</strong></p>
<p>Follow these instructions to create access for company employees and additional administrator accounts.</p>
<p><strong>Step 1: </strong>Select the &ldquo;User Accounts&rdquo; tab in the left hand menu</p>
<p><strong>Step 2:</strong> Create a username and password and select the appropriate company name from the drop down menu.</p>
<p><strong>Step 3: </strong>If the user is going to be responsible for creating catalogue entries, select &ldquo;Staff Status&rdquo; and they will have access to the Dashboard. <strong>This should only be given to trusted users.</strong></p>
<p><strong>Step 4:</strong> If the user account is ready to launch, select the &ldquo;Active&rdquo; status. If not, select &ldquo;Add&rdquo; and the status can be updated at a later point.</p>
<p><strong>Product Creation:</strong></p>
<p>The first step to product creation is attribute creation. If you are unsure, start here.</p>
<p><strong>Attribute Creation:</strong></p>
<p><strong>Step 1: </strong>Select the &ldquo;Attributes&rdquo; menu in the left hand menu</p>
<p><strong>Step 2:</strong> If you see all of the variations or &ldquo;attributes&rdquo; needed for your product in the table, skip to &ldquo;Product Types&rdquo; step.</p>
<p><strong>Step 3:</strong> Select the blue &ldquo;+&rdquo; in the top right corner.</p>
<p><strong>Step 4: </strong>The &ldquo;Display name&rdquo; is what customers will see while shopping. Internal name can be used for storing more product specifics that may needed later.</p>
<p><strong>Step 5: </strong>Select &ldquo;Save&rdquo; and repeat steps 1 through 4 until all attributes needed for the product are created.</p>
<p><strong>Product Type Creation:</strong></p>
<p>Creating product types allows you to group together different attributes to expedite the process next time!</p>
<p><strong>Step 1: </strong>Select all attributes that will be used to create different variants of the same product under the &ldquo;Attributes specific to each variant (optional)&ldquo;, and select &ldquo;Create&rdquo;. That&rsquo;s it!</p>
<p><strong>Product Creation:</strong></p>
<p>This is where you will create each individual variant of each product. Be sure to create each combination of variants available and label them with a unique SKU</p>
<p><strong>Step 1: </strong>Select the &ldquo;Products&rdquo; tab in the left hand menu.</p>
<p><strong>Step 2: </strong>Select the blue circle with the &ldquo;+&rdquo; in the top right corner.</p>
<p><strong>Step 3: </strong>Select the appropriate &ldquo;Product Type&rdquo; from the prompted menu.</p>
<p><strong>Step 4: </strong>Enter the Name for the product, and select the companies that you want it to be published to and select &ldquo;Save&rdquo;.</p>
<p><strong>Step 5: </strong>In the next screen, select the &ldquo;Add&rdquo; button in the &ldquo;Variant&rdquo; table. Select a combination of each of your variants, and add a unique SKU. The &ldquo;Variant name (optional)&rdquo; field will be stored in the database, but not displayed to the customer. It can be used to store any extra information about the variant you need. Select the &ldquo;Create&rdquo; button and repeat step 5 until every combination of variants has been created.</p>
<p><strong>Step 6: </strong>Selecting &ldquo;Edit Images&rdquo; at this page will allow you to drag and drop multiple images at once for upload.</p>
<p><strong>Step 7: </strong>If the product is not ready for release, toggle the &ldquo;Published&rdquo; button in the top right corner.</p>
<p><br /><br /><br /><br /><br /></p>
{% endblock %}
